/*  tablet & mobile  */
@media (max-width: 1023px){

}

/*  Tablet  */
@media (min-width: 740px) and (max-width: 1023px){

}

/*  Mobile  */
@media (max-width: 739px){
    .hearder{
        overflow: hidden;
    }

    .nav > .nav-item:first-child{
        display: inline-block;
    }

    .nav{
        display: block;
    }

    .nav-item{
        display: block;
    }

    .subnav{
        position: initial;
        background-color: #333;
    }

    .hear-search{
        display: none;
    }

    .head-menu-mobile{
        display: block;
    }

    .subnav .nav-item{
        padding-left: 16px;
    }

    .subnav .nav-item .nav-link{
        color: #fff;
    }

    .slide-content{
        bottom: 10px;
    }

    .slide-head-text{
        margin-bottom: 14px;
        text-shadow: 0 0 1px #000;
        font-size: 2rem;
    }

    .slide-end-text{
        font-weight: 300;
        font-size: 1.2rem;
    }

    .conten-img{
        margin-top: 20px;
    }

    .content-name{
        margin: 26px 0 10px;
    }

    .tour-c-12{
        width: 100%;
    }

    .sold-out{
        margin-left: 0;
    }

    .quantity{
        margin-top: 2px;
    }

    .tour-member-item{
        margin-top: 14px;
    }

    .contact-info i{
        padding-right: 6px;
    }

    .contact-form-input{
        margin-top: 8px;
    }

    .contac-form-message{
        margin-top: 0;
    }
}
